[Unit]
Description=InnerStack Enterprise PaaS
After=network.target

[Service]
Type=simple
LimitNOFILE=1024
ExecStart=/opt/sysinner/innerstack/bin/innerstackd -log_dir=/opt/sysinner/innerstack/var/log -minloglevel=1 -logtolevel=true
ExecReload=/bin/kill -HUP $MAINPID

TimeoutStartSec=0

KillMode=process

Restart=always
RestartSec=10

StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target

