[Unit]
Description=indns
After=network.target

[Service]
User=root
Group=root
Type=simple
LimitNOFILE=8192
ExecStart=/opt/instack/bin/indnsd
ExecReload=/bin/kill -HUP $MAINPID

TimeoutStartSec=0

KillMode=process

Restart=always
RestartSec=3

StartLimitBurst=3
StartLimitInterval=60s

StandardOutput=append:/opt/instack/var/log/indns.log
StandardError=append:/opt/instack/var/log/indns-error.log

[Install]
WantedBy=multi-user.target

