[Unit]
Description=InnerStack Enterprise PaaS Engine
Requires=lxcfs.service
After=network.target lxcfs.service

[Service]
Type=simple
LimitNOFILE=8192
ExecStart=/opt/innerstack/bin/innerstackd
ExecReload=/bin/kill -HUP $MAINPID

TimeoutStartSec=0

KillMode=process

Restart=always
RestartSec=10

StartLimitBurst=3
StartLimitInterval=60s

StandardOutput=append:/opt/innerstack/var/log/innerstack.log
StandardError=append:/opt/innerstack/var/log/innerstack-error.log

[Install]
WantedBy=multi-user.target
